<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= video.title %> – OLYMP Streaming</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/navbar') %>

  <div class="page-with-scores">
    <%- include('../partials/scores') %>

    <main class="page-wrapper video-main">
      <%- include('../partials/flash') %>


<div class="video-player-wrapper">
    <% if (video.isLive) { %>
              <span class="live-badge large">STREAM EN DIRECT</span>
            <% } %>
  <div class="video-aspect">
    <iframe
      src="https://player.vimeo.com/video/<%= video.id %>?autoplay=1&title=0&byline=0&portrait=0"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
<%- include('../partials/pub') %>


    </main>
  </div>

  <script src="/js/videoPage.js"></script>
</body>
</html>